@import '../node_modules/semantic-ui-reset/reset.css';
@import '../node_modules/semantic-ui-site/site.css';

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* http://tholman.com/github-corners/ */
.github-corner:hover .octo-arm{
	animation:octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave{
	0%,100% {
		transform:rotate(0)
	}
	20%,60% {
		transform:rotate(-25deg)
	}
	40%,80% {
		transform:rotate(10deg)
	}
}

@media (max-width:500px){
	.github-corner:hover .octo-arm{
		animation:none
	}
	.github-corner .octo-arm{
		animation:octocat-wave 560ms ease-in-out
	}
}
